<div class="color__column color__column--{{ color }}" id="color__column--{{ color }}">
  <header class="color__column__header">
    <h3 class="color__head">{{ color }}</h3>
    <h4 class="color__subhead">32 cards</h4>
  </header>
  <div class="color__graph color__graph--cmc" id="color__graph--cmc--{{ color }}">
    <h4 class="color__graph__head color__graph__name--cmc">Mana cost</h4>
    <h5 class="color__graph__subhead color__graph__subhead--cmc">Defined for TK cards</h5>
  </div>
  <div class="color__graph color__graph--power" id="color__graph--power--{{ color }}">
    <h4 class="color__graph__head color__graph__name--power">Power</h4>
    <h5 class="color__graph__subhead color__graph__subhead--power">Defined for TK cards</h5>
  </div>
  <div class="color__graph color__graph--toughness" id="color__graph--toughness--{{ color }}">
    <h4 class="color__graph__head color__graph__name--toughness">Toughness</h4>
    <h5 class="color__graph__subhead color__graph__subhead--toughness">Defined for TK cards</h5>
  </div>
  <div class="color__graph color__graph--rarity" id="color__graph--rarity--{{ color }}">
    <h4 class="color__graph__head color__graph__name--rarity">Rarity</h4>
    <h5 class="color__graph__subhead color__graph__subhead--rarity">Defined for TK cards</h5>
  </div>
  <div class="color__graph color__graph--type" id="color__graph--type--{{ color }}">
    <h4 class="color__graph__head color__graph__name--type">Type</h4>
    <h5 class="color__graph__subhead color__graph__subhead--type">Defined for TK cards</h5>
  </div>
  <div class="color__graph color__graph--subtype" id="color__graph--subtype--{{ color }}">
    <h4 class="color__graph__head color__graph__name--subtype">Subtype</h4>
    <h5 class="color__graph__subhead color__graph__subhead--subtype">Defined for TK cards</h5>
  </div>
</div>
