<div class="color__column color__column--{{ color }}" id="color__column--{{ color }}">
  <header class="color__column__header">
    <h3 class="color__head">{{ color }}</h3>
    <h4 class="color__subhead"><span id="card__total--{{ color }}">TK</span> cards</h4>
  </header>
  <div class="color__graph color__graph--cmc" id="color__graph--cmc--{{ color }}">
    <h4 class="color__graph__head color__graph__name--cmc">Mana cost</h4>
    <h5 class="color__graph__subhead color__graph__subhead--cmc">Undefined for <span id="card__undefined--cmc--{{ color }}">0</span> cards</h5>
  </div>
  <div class="color__graph color__graph--power" id="color__graph--power--{{ color }}">
    <h4 class="color__graph__head color__graph__name--power">Power</h4>
    <h5 class="color__graph__subhead color__graph__subhead--power">Undefined for <span id="card__undefined--power--{{ color }}">0</span> cards</h5>
  </div>
  <div class="color__graph color__graph--toughness" id="color__graph--toughness--{{ color }}">
    <h4 class="color__graph__head color__graph__name--toughness">Toughness</h4>
    <h5 class="color__graph__subhead color__graph__subhead--toughness">Undefined for <span id="card__undefined--toughness--{{ color }}">0</span> cards</h5>
  </div>
  <div class="color__graph color__graph--rarity" id="color__graph--rarity--{{ color }}">
    <h4 class="color__graph__head color__graph__name--rarity">Rarity</h4>
    <h5 class="color__graph__subhead color__graph__subhead--rarity">Undefined for <span id="card__undefined--rarity--{{ color }}">0</span> cards</h5>
  </div>
  <div class="color__graph color__graph--types" id="color__graph--types--{{ color }}">
    <h4 class="color__graph__head color__graph__name--types">Types</h4>
    <h5 class="color__graph__subhead color__graph__subhead--types">Undefined for <span id="card__undefined--types--{{ color }}">0</span> cards</h5>
  </div>
  <div class="color__graph color__graph--subtypes" id="color__graph--subtypes--{{ color }}">
    <h4 class="color__graph__head color__graph__name--subtypes">Subtypes</h4>
    <h5 class="color__graph__subhead color__graph__subhead--subtypes">Undefined for <span id="card__undefined--subtypes--{{ color }}">0</span> cards</h5>
  </div>
</div>
